@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-6">
           <h2> Categories</h2>
        </div>
        <div class="col-6" style="margin-top:10px;">
         <i class="bi bi-plus-circle"></i>   <a class="btn-primary" asp-action="Create" asp-controller="Category">Create New Category</a>
        </div>
     </div>
</div>

<table class="table table-bordered table striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Order Quantity</th>
            <th>Date And Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name </td>
                <td>@item.DisplayOrder</td>
                <td>@item.CreatedTime</td>
            </tr>
        }
      
    </tbody>
</table>


